hr{
    display: block;
    height: 2px;
    color: black;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    background-color: rgb(202, 221, 228);
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

#header{
    text-align: center;
}

h2{
    margin-bottom: 1px;
}

#title{
    font-size: 20px;
    margin-bottom: 2px;
}

#project{
    margin-top: 0px;
}

#vimg{
    height: auto;
    width: 20%;
}

#himg{
    height: auto;
    width: 60%;
}
