body{
    background-color: rgb(202, 221, 228);
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

h1{
    font-size: 30px;
    text-align: center;
}

p{
    text-align: center;
}

#buttons{
    align-content: center;
}

button{
    background-color: rgb(218, 174, 218);
    border-color: rgb(216, 135, 216);
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    float: right;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

button:hover{
    background-color: rgb(216, 125, 216);
}