hr{
    display: block;
    height: 2px;
    color: black;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    background-color: rgb(202, 221, 228);
}

#header{
    text-align: center;
}

h2{
    margin-bottom: 1px;
}